<section class="first-section" id="single-post">
    <div class="container">
        <div class="news">
            <h3>
                <em class="post-date">{{ error_message }}</em>
            </h3>
            <p><a href="index.php">Retourner à la page d'accueil</a></p>
        </div>
    </div>
</section>
