<section class="first-section" id="single-post">
    <div class="container">
        {{ admin_message|raw }}
        <p><a href="index.php?action=listPosts">Retour à la liste des billets</a></p>

        <div class="news">
            <p>
                Ce billet n'existe pas. Identifiant inconnu.
            </p>
        </div>
    </div>
</section>
