#download-button {
    margin-top: 2.5rem!important;
}

.post-date {
    font-size: 1rem;
}

.bg-tertiary {
    background-color: #E4A5E0 !important;
}

hr.star-dark.pink-bg-star:after {
    color: #2c3e50;
    background-color: #E4A5E0 !important;
}

.first-section {
    padding-top: calc(6rem + 80px);
    padding-bottom: 6rem;
}

.floating-label-form-group label {
    line-height: 1 !important;
}

.form-group p {
    margin-bottom: 0.5rem;
}

.pagination {
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 0px;
}

.red-text {
    color: red;
}

.green-text {
    color: darkgreen;
}

.message-status {
    margin-top: -50px;
    margin-bottom: 35px;

.post-intro {
    font-style: italic;
}
.admin-bg {
    background-color: #ac3e30 !important;
}

.header-admin-label {
    margin-top: 10px;
    color: red !important;
}

form#modifPost label, form#createPost label {
    top: 0 !important;
    opacity: 1 !important;
    font-size: 18px;
    margin: 10px 0 10px 0;
}

.floating-label-form-group input, .floating-label-form-group textarea {
    border: 1px solid #ccc !important;
}

.page-link.active {
    color: #000;
    font-weight: bold;
}

.admin-link {
    color: red;
}

.menu-link {
    margin-right: 15px;
}