/* Styles de base */
@font-face {
    font-family: 'brandon_grotesque_regular';
    src: url('webfont/brandon_reg-webfont.woff2') format('woff2'),
    url('webfont/brandon_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesque_light';
    src: url('webfont/brandon_light-webfont.woff2') format('woff2'),
    url('webfont/brandon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesque_bold';
    src: url('webfont/brandon_bld-webfont.woff2') format('woff2'),
    url('webfont/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesque_medium';
    src: url('webfont/brandon_med-webfont.woff2') format('woff2'),
    url('webfont/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'brandon_grotesque_regular', sans-serif;
    background-color: white;
    color: black;
}

/* Styles pour les smartphones (styles par défaut,
   surchargés ensuite pour les autres dimensions) */

h1 {
    margin-top: -8px;
}
h2 {
    margin-top: 0px;
}
.light {
    font-family: 'brandon_grotesque_light';
}
.medium {
    font-family: 'brandon_grotesque_medium';
}
.bold {
    font-family: 'brandon_grotesque_bold';
}
.clear-both {
    clear: both;
}
.h-240 {
    height: auto;
}
.mg-30 {
    margin-bottom: 30px;
}
.mg-35 {
    margin-bottom: 35px;
}
.gray-bg {
    background-color: #FAFAFA;
}
.black-bg {
    background-color: black;
    color: white;
}
.blue-bg {
    background-color: #7690C5;
    color: white;
}
.img-circle {
    border-radius: 50%;
}
.container-fluid {
    max-width: 1400px;
}
.container {
    padding-left: 40px;
    padding-right: 40px;
}
.wide-container {
    width: 95%;
    padding: 0;
}
.wide-container [class*="col-"] {
    padding: 0;
}
.wide-container .row {
    margin-left: 0;
    margin-right: 0;
}
.no-outer-pad {
    padding-left: 0;
    padding-right: 0;
}
a.anchor {
    display: block;
    position: relative;
    top: -54px;
    visibility: hidden;
}

#header_nav {
    width:100%;
    height:100px!important;
    background-color:#666;
    position:fixed!important;
}
#home {
    background: url('../images/home.png') no-repeat;
    background-size: 100%;
    background-position: bottom; 
    opacity: 1;
    z-index: 11;
    position: relative;
}
#home img {
    opacity: 0;
    margin-top: 0;
    width: 100%;
}
#home-text {
    position: absolute!important;
    top: 35.8%!important;
    color: white;
}
#home-text h2 {
    color: #eee;
    letter-spacing: -0.012em;
    margin-bottom: 3.1%;
    font-size: 20px;
}
#home-text h1 {
    text-transform: uppercase;
    letter-spacing: -0.018em;
}
#learn-more {
    font-size: 19px;
    font-weight: 500;
    margin-top: 5.3%;
    margin-left: auto;
    margin-right: auto;
}
#learn-more span {
    border: 2px solid white;
    border-radius: 4px;
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.7);
    width: 400px;
    padding: 5px 40px 5px 40px;    
}
.navbar {
    margin-top: 45px;
    display:block;
    max-height: 56px;
}
.navbar, .navbar-nav.active, .navbar-nav a:hover {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}
.navbar-nav a:hover {
    background-color: transparent!important;
    color: #A6285C;
}
.navbar-nav li {
    background-color: rgba(25, 39, 63, 0.5);
    padding: 0 10px 8px 10px;
}
.navbar-nav li:first-child {
    padding-top: 3px;
}
.navbar-nav a, .nav>li>a {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0 3px 0;
    margin-bottom: 0;
    margin-left: 0;
    color: white;
    text-shadow: -1px 0 #221E3D, 0 1px #221E3D, 1px 0 #221E3D, 0 -1px #221E3D;
}
.navbar-nav li.active a {
    border-bottom: 3px solid #A6285C;
}
.navbar-fixed-top {
    width: 100%;
    right: inherit;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0px;
}
.navbar-header {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1px;
}
.navbar img {
    margin-left: 15px;
    margin-top: 4px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}
.navbar-toggle {
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    background-color: #34273F;
    padding: 9px 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-toggle .icon-bar {
    background-color: #A6285C;
}
.navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 0;
}
.navbar-nav {
    margin: 0;
}

.vertical-center {
    display: flex;
    align-items: center;
}
.zero-margins {
    margin-left: 0;
    margin-right: 0;
}
#wed-development {
    padding-left: 15px;
    padding-right: 15px;
}
#wed-development p {
    padding-right: 0;
}
#wed-development p, #identity-branding p {
    text-align: justify;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}
section h1 {
    font-size: 59px;
    letter-spacing: -0.012em;
}
section p {
    font-family: 'brandon_grotesque_regular', sans-serif;
    font-size: 18px;
    color: #777;
    letter-spacing: -0.025em;
}

.skill-desc {
    line-height: 1.6em;
}
#skills h2 {
    font-size: 22px;
    letter-spacing: -0.015em;
    margin-top: 5px;
    margin-left: -3px;
    margin-bottom: 8px;
}
.skill-desc p {
    margin-bottom: 45px;
    text-align: justify;
}
#skills .col-md-6:nth-child(6) p {
    margin-bottom: -5px;
}
#skills .col-xs-2 {
    padding-left: 0;
    margin-left: -1px;
    margin-top: 5px;
}

section#clients {
    padding-bottom: 43px;
}

.section-title-center {
    padding-left: 20px;
}
.section-title-center h1 {
    margin-bottom: 0;
}
.section-title-center p {
    font-size: 22px;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 30px;
}
#client1-img, #client2-img {
    position: absolute;
    z-index: 10;
}
#clients img {
    width: 100px;
    height: 100px;
}
#client1-img img {
    margin-left: -55px;
    margin-top: -5px;
}
#client2-img img  {
    margin-left: -55px;
    margin-top: -5px;
}
.client-text {
    margin-top: 24px;
    margin-bottom: 17px;
    padding-left: 9px;
    padding-right: 0;
}
blockquote{
    background-color: white;
    border: 1px solid #eee;
    border-left: 0;
    box-shadow: -1px 0px 1px #eee;
    display: inline-block;
    padding: 10px 50px 10px 50px;
    position: relative;
    vertical-align: top;
    margin: 20px 0;
    margin-right: 0;
}
blockquote{
    padding: 10px 28px 10px 67px;
    margin-right: 0;
}
blockquote div {
    width: 92%;
}
blockquote .text-center p {
    font-size: 26px;
    margin-top: 1px;
    margin-bottom: 7px;
    line-height: 1.32em;
    letter-spacing: -0.021em;
    color: #777;
}
blockquote footer:before {
    content: '\2013 \00A0';
    font-size: 0.6em;
    position: relative;
    top: -2px;
    left: -2px;
}
blockquote footer {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 20px;
    color: #7690c5;
    letter-spacing: -0.022em;
}
blockquote.bq-left {
    margin-left: 0;
    margin-right: 0;
    padding-top: 13px;
}    

#logos {
    padding-top: 59px!important;
    padding-bottom: 59px!important;
}
.one-logo {
    text-align: center;
}
#logo1 {
    top: 8px;
    margin-bottom: 30px;
}
#logo2 {
    top: 2px;
    margin-bottom: 30px;
}
#logo3 {
    top: 1px;
}
#logo4 {
    top: 1px;
}

#team-title h1 {
    margin-left: -4px;
    margin-bottom: 3px;
    letter-spacing: -0.01em;
}
.flex-div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
#team-people {
    padding-top: 42px;
}
#team-people .person {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}
#team-people .person:last-child {
    margin-bottom: 0;
}
.person h2{
    font-size: 17.5px;
    margin-top: 17px;
    margin-bottom: 0;
    font-weight: 400;
    letter-spacing: -0.005em;
}
.person p {
    font-size: 16px;
    color: #eee;
    margin-top: 4px;
    margin-bottom: 7px;
}
.btn, .btn:hover, .btn:visited {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 4px;
    padding: 7px 8px;
}
.person .social-logos .fa-2x {
    font-size: 1.5em!important;
}
.person .social-logos .fa-twitter {
    margin-top: -1px;
    margin-left: -1px;
}
.person .social-logos .fa-google-plus {
    font-size: 1.2em!important;
    margin-top: 3px;
}
#team-footer {
    margin-top: 42px;
}
#team-footer p{
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 1.45em;
    color: #eee;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
}

#contact {
    padding-bottom: 0!important;
}
#contact p {
    color: white;
    margin-top: 17px;
    margin-bottom: 11px;
    width: 90%;
}
#contact-info span {
    font-size: 18px;
}
#contact-info .row {
    padding-left: 0;
    padding-right: 0;
    margin-top: 39px;
}
#contact-info .row:nth-child(even) div:last-child {
    margin-left: -5px;
}
#contact-info .fa {
    position: absolute;
}
#contact-info .fa-mobile {
    font-size: 2.8em;
    top: -8px;
    left: 7px;
}
#contact-info .fa-envelope {
    font-size: 2em;
    clip: rect(7px, 27px, 25px, 0);
    top: -5px;
    left: -5px;
    border-radius: 0 0 2px 2px;
}
#contact-info .fa-twitter {
    font-size: 2.2em;
    top: -1px;
    left: 1px;
}
#contact-info .fa-facebook {
    font-size: 2.1em;
    top: 1px;
    left: 2px;
}
#contact-info .fa-google-plus {
    font-size: 2em;
    top: 1px;
    left: 2px;
}
#contact-info .fa-pinterest-p {
    font-size: 2.2em;
    top: 4px;
    left: -2px;
}
#contact form {
    margin-top: 50px;
}
#contact form .form-group {
    margin-bottom: 0;
}
#contact input {
    height: 50px;
    margin-bottom: 25px;
    border-radius: 3px;
}
#contact textarea {
    height: 210px;
    border-radius: 3px;
}
::-webkit-input-placeholder {
    font-family: 'brandon_grotesque_regular';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #555!important;
    opacity: 0.6;
}
::-moz-placeholder {
    /* firefox 19+ */
    font-family: 'brandon_grotesque_medium';
    font-size: 18px;
    color: #bbb;
    opacity: 0.6;
}
:-ms-input-placeholder {
    /* ie */
    font-family: 'brandon_grotesque_medium';
    font-size: 18px;
    color: #bbb;
    opacity: 0.6;
}
input:-moz-placeholder {
    font-family: 'brandon_grotesque_medium';
    font-size: 18px;
    color: #bbb;
    opacity: 0.6;
}
#contact-container {
    padding-bottom: 80px;
    border-bottom: 1px solid #87a0d2;
}

body > footer {
    /* Ajout d'un grand espace en bas de page pour éviter un blocage
        à mi-parcours du scrollspy vers "Contact" */
    padding-bottom: 400px;
}
body > footer p {
    font-size: 15px;
    margin-top: 28px;
}


/* Styles pour les tablettes uniquement */

@media (min-width: 768px) and (max-width: 991px) {
    #wed-development .skill-image, #identity-branding .skill-image {
        width: 0;
        padding: 0;
    }
}

/* Styles pour les tablettes (et au-delà si non surchargés ensuite) */

@media (min-width: 768px) {
    .h2, h2 {
        font-size: 30px;
    }
    section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .wide-container {
        width: 720px;
        padding: 0;
    }
    .container, .navbar-fixed-top {
        width: 720px;
    }
    .navbar-fixed-top {
        margin-top: 35px;
    }
    .navbar img {
        margin-left: 0;
        margin-top: 3px;
    }
    .navbar-nav {
        padding-bottom: 12px;
    }
    .navbar-nav li {
        background-color: transparent;
        padding: 0;
    }
    .navbar-nav li:first-child {
        padding-top: 0;
    }
    .navbar-nav a, .nav>li>a {
        padding: 18px 0 3px 0;
        margin-left: 30px;
    }
    .h-240 {
        height: 240px;
    }
    #home-text h2 {
        font-size: 27px;
    }
    #home-text h1 {
        font-size: 52px;
    }
    #learn-more {
        font-size: 23px;
    }
    #learn-more span {
        padding: 9px 50px 13px 50px;    
    }
    #wed-development {
        padding-left: 0;
        padding-right: 0;
    }
    #wed-development .skill-image {
        top: -89px;
        left: -20px;
    }
    #wed-development img {
        width: 100px;
    }
    #identity-branding .skill-image {
        top: -90px;
        left: 534px;
    }
    #identity-branding img {
        width: 120px;
    }
    .skill-desc {
        padding-right: 12px;
    }
    .img-circle {
        width: 160px;
    }
    section#clients {
        padding-bottom: 83px;
    }
    #client1-img, #client2-img {
        position: relative;
    }
    blockquote{
        padding: 3px 0px 3px 25px;
        margin-right: -9px;
    }
    blockquote.bq-left {
        margin-left: -15px;
        margin-right: 8px;
    }
    blockquote.bq-right::before {
        background-color: white;
        box-shadow: -1px 1px 1px 0 rgba( 200, 200, 200, .4 );
        content: "\00a0 \00a0";
        display: block;
        height: 19px;
        width: 21px;
        position: relative;
        left: -36px;
        top: 57px;
        transform:         rotate( 32deg ) skewx(-25deg);
        -moz-transform:    rotate( 32deg ) skewx(-25deg);
        -ms-transform:     rotate( 32deg ) skewx(-25deg);
        -o-transform:      rotate( 32deg ) skewx(-25deg);
        -webkit-transform: rotate( 32deg ) skewx(-25deg);
    }
    blockquote.bq-left::before {
        background-color: white;
        box-shadow: -1px 1px 1px 0 rgba( 200, 200, 200, .4 );
        content: "\00a0 \00a0";
        display: block;
        height: 19px;
        width: 21px;
        position: relative;
        left: 442px;
        top: 57px;
        transform:         rotate( 212deg ) skewx(-25deg);
        -moz-transform:    rotate( 212deg ) skewx(-25deg);
        -ms-transform:     rotate( 212deg ) skewx(-25deg);
        -o-transform:      rotate( 212deg ) skewx(-25deg);
        -webkit-transform: rotate( 212deg ) skewx(-25deg);
    }
    blockquote footer {
        margin-bottom: 21px;
    }
    blockquote.bq-left {
        padding-top: 5px;
    }    
    blockquote.bq-left footer {
        margin-bottom: 18px;
    }
    blockquote .text-center p {
        font-size: 22px;
    }
    .flex-div {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    #clients img {
        width: 160px;
        height: 160px;
    }
    #client1-img img {
        margin-left: -25px;
        margin-top: 7px;
    }
    #client2-img img {
        margin-left: 0px;
        margin-top: 13px;
    }
    .client-text {
        margin-top: 0;
        margin-bottom: 17px;
        padding-left: 9px;
        padding-right: 0;
    }
    #team-people .person {
        margin-bottom: 0;
    }
}

/* Styles pour les écrans moyens et grands */

@media (min-width: 992px) {
    .wide-container {
        width: 940px;
        padding: 0;
    }
    .container, .navbar-fixed-top {
        width: 940px;
    }
    #home-text h2 {
        font-size: 31px;
    }
    #home-text h1 {
        font-size: 66px;
    }
    #learn-more span {
        padding: 12px 66px 16px 66px;
    }
    .skill-image img {
        position: relative;
    }
    #skills .col-xs-2 {
        margin-top: 0;
    }
    #wed-development img {
        width: auto;
        margin-right: 9px;
    }
    #wed-development p, #identity-branding p {
        text-align: inherit;
        padding-right: 5px;
    }
    #wed-development .skill-image, #identity-branding .skill-image {
        top: inherit;
        left: inherit;
    }
    #identity-branding img {
        width: auto;
        margin-left: -2px;
        margin-top: -9px;
    }
    #id-brand-desc {
        padding-left: 44px;
    }
    .skill-desc {
        padding-left: 23px;
        margin-top: -1px;
        width: 320px;
    }
    .skill-desc p {
        text-align: inherit;
    }
    #skills .col-md-6:nth-child(5) p,
    #skills .col-md-6:nth-child(6) p {
        margin-bottom: -5px;
    }
    #skills .skill-block:nth-child(even) {
        padding-left: 56px;
        padding-right: 0;
    }
    #skills .skill-block:nth-child(even) .skill-desc {
        padding-left: 28px;
        padding-right: 7px;
    }
    blockquote{
        padding: 10px 28px 10px 67px;
    }
    blockquote footer {
        margin-bottom: 29px;
    }

    blockquote.bq-left footer {
        margin-bottom: 26px;
    }
    blockquote.bq-left {
        padding-top: 13px;
    }    
    blockquote.bq-right::before {
        left: -78px;
        top: 63px;
    }
    blockquote.bq-left::before {
        left: 563px;
        top: 63px;
    }
    blockquote .text-center p {
        font-size: 26px;
    }
    #clients img {
        width: 236px;
        height: 236px;
    }
    #client1-img img {
        margin-left: -62px;
        margin-top: 7px;
    }
    #client2-img img {
        margin-left: 5px;
        margin-top: 13px;
    }
    .client-text {
        margin-top: 24px;
        margin-bottom: 17px;
        padding-left: 9px;
        padding-right: 0;
    }
    .one-logo {
        text-align: inherit;
    }
    #logo1 {
        left: 45px;
        margin-bottom: 0;
    }
    #logo2 {
        left: 24px;
        margin-bottom: 0;
    }
    #logo3 {
        left: 27px;
    }
    #logo4 {
        left: -21px;
    }
    .img-circle {
        width: auto;
    }
    #contact h1 {
        margin-left: -2px;
    }
    #contact form {
        margin-top: 0;
        margin-left: 15px;
    }
    #contact-container {
       padding-bottom: 100px;
   }
    #team-people .person:first-child {
        margin-left: 48px;
    }
    #team-people .person:last-child {
        margin-right: 48px;
   }
}

/* Styles pour les grands écrans */
@media (min-width: 1200px) {
}
